body {
  background: rgb(182, 190, 214);
}

h1 {
  text-align: center;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

footer {
  text-align: center;
  opacity: 0.7;
  margin: 30px auto;
}
